.banner{
     background-image: linear-gradient( rgba(27, 23, 23, 0.596), rgba(27, 23, 23, 0.596)), url('../../../images/Banner//banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    /* filter: brightness(50%); */
}
.heading{
    font-size: 3.6rem;
    font-weight: bolder;
}
